.carusel__card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 334px;
    height: 496px;
    background: #FFFFFF;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
    padding: 0 0 25px 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .carusel__card {
        width: 260px;
        height: 441px;
        padding: 0 0 20px 0;
    }
}