.carusel__images_main {
    max-width: 332px;
    height: 334px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .carusel__images_main {
        width: 258px;
        height: 260px;
    }
}