.carusel__price_old {
    width: 41px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: rgba(141, 146, 149, 1);

}

@media screen and (max-width: 768px) {
    .carusel__price_old {
        width: 41px;
    }
}