.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 80px;
    margin: 80px 0 40px;
    gap: 25px;
    height: 40px;
}

.titles__heading_black {
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
}

.titles__heading {
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: rgba(83, 86, 88, 1);
    border-bottom: 1px dashed #535658;
    margin: 0;
}

@media screen and (max-width: 780px) {
    .titles {
        flex-direction: column;
        gap: 5px;
        margin: 40px 0 25px;
        padding: 0;
        align-items: flex-start;
    }

    .titles__heading_black {
        height: 26px;
        font-size: 18px;
        line-height: 26px;
    }

    .titles__heading {
        height: 22px;
        font-size: 14px;
        line-height: 22px;
    }
}