.wraper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooting: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

}