.carusel__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    border: 1px solid rgba(236, 240, 244, 1);
    border-radius: 5px;
    gap: 11px;
}

@media screen and (max-width: 768px) {
    .carusel__counter {
        display: none;
    }
}