.carusel__btn_second {
    position: absolute;
    top: 54px;
    left: 278px;
    background-image: url('../../../../images/icons/scales.svg');
    background-repeat: no-repeat;
    padding: 0;
    margin: 5px 20px 0 0;
}

@media screen and (max-width: 768px) {
    .carusel__btn_second {
        left: 204px;
        top: 59px;
    }
}